### Converting Excel into csv with none spaced column names

In [13]:
import pandas as pd

In [14]:
mwStates = pd.read_excel("mw_state_annual.xlsx")
mwCities = pd.read_excel("mw_substate_annual.xlsx")

In [15]:
mwCities = mwCities.rename(columns={
    'State FIPS Code':'State_FIPS_Code',
    'State Abbreviation': 'State_Abbreviation',
    'Annual Minimum': 'Annual_Minimum',
    'Annual Average': 'Annual_Average',
    'Annual Maximum': 'Annual_Maximum',
    'Local > State min wage': 'Local_greater_State_min_wage'})
mwCities.head()

,State_FIPS_Code,State,State_Abbreviation,City/County,Year,Annual_Minimum,Annual_Average,Annual_Maximum,Local_greater_State_min_wage
0,6,California,CA,Alameda,2004,6.75,6.75,6.75,0
1,6,California,CA,Alameda,2005,6.75,6.75,6.75,0
2,6,California,CA,Alameda,2006,6.75,6.75,6.75,0
3,6,California,CA,Alameda,2007,7.50,7.50,7.50,0
4,6,California,CA,Alameda,2008,8.00,8.00,8.00,0

In [16]:
mwStates = mwStates.rename(columns={
    'State FIPS Code':'State_FIPS_Code',
    'State Abbreviation': 'State_Abbreviation',
    'Annual Federal Minimum': 'Annual_Federal_Minimum',
    'Annual State Minimum': 'Annual_State_Minimum',
    'Annual Federal Average': 'Annual_Federal_Average',
    'Annual State Average': 'Annual_State_Average',
    'Annual Federal Maximum': 'Annual_Federal_Maximum',
    'Annual State Maximum': 'Annual_State_Maximum',})
mwStates.head()

,State_FIPS_Code,Name,State_Abbreviation,Year,Annual_Federal_Minimum,Annual_State_Minimum,Annual_Federal_Average,Annual_State_Average,Annual_Federal_Maximum,Annual_State_Maximum
0,2,Alaska,AK,1974,2.00,2.5,2.00,2.500000,2.00,2.50
1,2,Alaska,AK,1975,2.10,2.6,2.10,2.600000,2.10,2.60
2,2,Alaska,AK,1976,2.30,2.8,2.30,2.800000,2.30,2.80
3,2,Alaska,AK,1977,2.30,2.8,2.30,2.800000,2.30,2.80
4,2,Alaska,AK,1978,2.65,2.8,2.65,3.093425,2.65,3.15

In [17]:
unique_cities = mwCities['City/County'].unique()
print([(city, mwCities[mwCities['City/County'].str.contains(city)]['State_Abbreviation'].iloc[0]) for city in unique_cities])

[('Alameda', 'CA'), ('Albuquerque', 'NM'), ('Belmont', 'CA'), ('Berkeley', 'CA'), ('Bernalillo County', 'NM'), ('Chicago', 'IL'), ('Cook County', 'IL'), ('Cupertino', 'CA'), ('Denver', 'CO'), ('East Palo Alto', 'CA'), ('El Cerrito', 'CA'), ('Emeryville', 'CA'), ('Flagstaff', 'AZ'), ('Fremont', 'CA'), ('Hayward', 'CA'), ('Johnson County', 'IA'), ('Las Cruces', 'NM'), ('Lexington', 'KY'), ('Linn County', 'IA'), ('Long Island & Westchester', 'NY'), ('Los Altos', 'CA'), ('Los Angeles', 'CA'), ('Los Angeles County', 'CA'), ('Louisville', 'KY'), ('Malibu', 'CA'), ('Milpitas', 'CA'), ('Minneapolis', 'MN'), ('Montgomery County', 'MD'), ('Mountain View', 'CA'), ('New York City', 'NY'), ('Nonurban counties', 'OR'), ('Novato', 'CA'), ('Oakland', 'CA'), ('Palo Alto', 'CA'), ('Pasadena', 'CA'), ('Petaluma', 'CA'), ('Portland', 'ME'), ("Prince George's County", 'MD'), ('Redwood City', 'CA'), ('Remainder of New York State', 'NY'), ('Remainder of Oregon', 'OR'), ('Richmond', 'CA'), ('San Diego', 'CA'), ('San Francisco', 'CA'), ('San Jose', 'CA'), ('San Leandro', 'CA'), ('San Mateo', 'CA'), ('Santa Clara', 'CA'), ('Santa Fe', 'NM'), ('Santa Fe County', 'NM'), ('Santa Monica', 'CA'), ('Santa Rosa', 'CA'), ('SeaTac', 'WA'), ('Seattle', 'WA'), ('Sonoma', 'CA'), ('St. Paul', 'MN'), ('Sunnyvale', 'CA'), ('Tacoma', 'WA'), ('Wapello County', 'IA'), ('Washington', 'DC')]

In [19]:
# some of the counties in the data are kind of weird.
COUNTY_CODES = {
  ('Alameda', 'CA'): '0600562',
  ('Albuquerque', 'NM'): '3502000',
  ('Belmont', 'CA'): '0605290',
  ('Berkeley', 'CA'): '0606000',
  ('Bernalillo County', 'NM'): '35001',
  ('Chicago', 'IL'): '1714000',
  ('Cook County', 'IL'): '17031',
  ('Cupertino', 'CA'): '0616000',
  ('Denver', 'CO'): '0820000',
  ('East Palo Alto', 'CA'): '0620956',
  ('El Cerrito', 'CA'): '0621796',
  ('Emeryville', 'CA'): '0622594',
  ('Flagstaff', 'AZ'): '0423620',
  ('Fremont', 'CA'): '0626000',
  ('Hayward', 'CA'): '0633000',
  ('Johnson County', 'IA'): '19103',
  ('Las Cruces', 'NM'): '3539700',
  ('Lexington', 'KY'): '2146027',
  ('Linn County', 'IA'): '19113',
  ('Long Island & Westchester', 'NY'): None,
  ('Los Altos', 'CA'): '0644112',
  ('Los Angeles', 'CA'): '0644000',
  ('Los Angeles County', 'CA'): '06037',
  ('Louisville', 'KY'): '2148000',
  ('Malibu', 'CA'): '0646492',
  ('Milpitas', 'CA'): '0647766',
  ('Minneapolis', 'MN'): '2743000',
  ('Montgomery County', 'MD'): '24031',
  ('Mountain View', 'CA'): '0649670',
  ('New York City', 'NY'): '3651000',
  ('Nonurban counties', 'OR'): None,
  ('Novato', 'CA'): '0652582',
  ('Oakland', 'CA'): '0653000',
  ('Palo Alto', 'CA'): '0655282',
  ('Pasadena', 'CA'): '0656000',
  ('Petaluma', 'CA'): '0657288',
  ('Portland', 'ME'): '2360545',
  ("Prince George's County", 'MD'): '24033',
  ('Redwood City', 'CA'): '0660102',
  ('Remainder of New York State', 'NY'): None,
  ('Remainder of Oregon', 'OR'): None,
  ('Richmond', 'CA'): '0660620',
  ('San Diego', 'CA'): '0666000',
  ('San Francisco', 'CA'): '0667000',
  ('San Jose', 'CA'): '0668000',
  ('San Leandro', 'CA'): '0668252',
  ('San Mateo', 'CA'): '0668378',
  ('Santa Clara', 'CA'): '0670280',
  ('Santa Fe', 'NM'): '3570500',
  ('Santa Fe County', 'NM'): '35049',
  ('Santa Monica', 'CA'): '0670000',
  ('Santa Rosa', 'CA'): '0670098',
  ('SeaTac', 'WA'): '5362960',
  ('Seattle', 'WA'): '5363000',
  ('Sonoma', 'CA'): '0673262',
  ('St. Paul', 'MN'): '2758000',
  ('Sunnyvale', 'CA'): '0677000',
  ('Tacoma', 'WA'): '5370000',
  ('Wapello County', 'IA'): '19179',
  ('Washington', 'DC'): '1150000',
}

In [21]:
mwCities = mwCities.assign(
    County_FIPS_Code=[
      COUNTY_CODES.get((city, state)) 
      for city, state 
      in zip(mwCities['City/County'], mwCities['State_Abbreviation'])]
)

In [22]:
mwStates.to_csv("mw_state_annual.csv")
mwCities.to_csv("mw_substate_annual.csv")