### Converting Excel into csv with none spaced column names

In [1]:
import pandas as pd

In [2]:
mwStates = pd.read_excel("mw_state_annual.xlsx")
mwCities = pd.read_excel("mw_substate_annual.xlsx")

In [3]:
mwCities = mwCities.rename(columns={
    'State FIPS Code':'State_FIPS_Code',
    'State Abbreviation': 'State_Abbreviation',
    'Annual Minimum': 'Annual_Minimum',
    'Annual Average': 'Annual_Average',
    'Annual Maximum': 'Annual_Maximum',
    'Local > State min wage': 'Local_greater_State_min_wage'})
mwCities.head()

,State_FIPS_Code,State,State_Abbreviation,City/County,Year,Annual_Minimum,Annual_Average,Annual_Maximum,Local_greater_State_min_wage
0,6,California,CA,Alameda,2004,6.75,6.75,6.75,0
1,6,California,CA,Alameda,2005,6.75,6.75,6.75,0
2,6,California,CA,Alameda,2006,6.75,6.75,6.75,0
3,6,California,CA,Alameda,2007,7.50,7.50,7.50,0
4,6,California,CA,Alameda,2008,8.00,8.00,8.00,0

In [4]:
mwStates = mwStates.rename(columns={
    'State FIPS Code':'State_FIPS_Code',
    'State Abbreviation': 'State_Abbreviation',
    'Annual Federal Minimum': 'Annual_Federal_Minimum',
    'Annual State Minimum': 'Annual_State_Minimum',
    'Annual Federal Average': 'Annual_Federal_Average',
    'Annual State Average': 'Annual_State_Average',
    'Annual Federal Maximum': 'Annual_Federal_Maximum',
    'Annual State Maximum': 'Annual_State_Maximum',})
mwStates.head()

,State_FIPS_Code,Name,State_Abbreviation,Year,Annual_Federal_Minimum,Annual_State_Minimum,Annual_Federal_Average,Annual_State_Average,Annual_Federal_Maximum,Annual_State_Maximum
0,2,Alaska,AK,1974,2.00,2.5,2.00,2.500000,2.00,2.50
1,2,Alaska,AK,1975,2.10,2.6,2.10,2.600000,2.10,2.60
2,2,Alaska,AK,1976,2.30,2.8,2.30,2.800000,2.30,2.80
3,2,Alaska,AK,1977,2.30,2.8,2.30,2.800000,2.30,2.80
4,2,Alaska,AK,1978,2.65,2.8,2.65,3.093425,2.65,3.15

In [5]:
unique_cities = mwCities['City/County'].unique()
print([(city, mwCities[mwCities['City/County'].str.contains(city)]['State_Abbreviation'].iloc[0]) for city in unique_cities])

[('Alameda', 'CA'), ('Albuquerque', 'NM'), ('Belmont', 'CA'), ('Berkeley', 'CA'), ('Bernalillo County', 'NM'), ('Chicago', 'IL'), ('Cook County', 'IL'), ('Cupertino', 'CA'), ('Denver', 'CO'), ('East Palo Alto', 'CA'), ('El Cerrito', 'CA'), ('Emeryville', 'CA'), ('Flagstaff', 'AZ'), ('Fremont', 'CA'), ('Hayward', 'CA'), ('Johnson County', 'IA'), ('Las Cruces', 'NM'), ('Lexington', 'KY'), ('Linn County', 'IA'), ('Long Island & Westchester', 'NY'), ('Los Altos', 'CA'), ('Los Angeles', 'CA'), ('Los Angeles County', 'CA'), ('Louisville', 'KY'), ('Malibu', 'CA'), ('Milpitas', 'CA'), ('Minneapolis', 'MN'), ('Montgomery County', 'MD'), ('Mountain View', 'CA'), ('New York City', 'NY'), ('Nonurban counties', 'OR'), ('Novato', 'CA'), ('Oakland', 'CA'), ('Palo Alto', 'CA'), ('Pasadena', 'CA'), ('Petaluma', 'CA'), ('Portland', 'ME'), ("Prince George's County", 'MD'), ('Redwood City', 'CA'), ('Remainder of New York State', 'NY'), ('Remainder of Oregon', 'OR'), ('Richmond', 'CA'), ('San Diego', 'CA'), ('San Francisco', 'CA'), ('San Jose', 'CA'), ('San Leandro', 'CA'), ('San Mateo', 'CA'), ('Santa Clara', 'CA'), ('Santa Fe', 'NM'), ('Santa Fe County', 'NM'), ('Santa Monica', 'CA'), ('Santa Rosa', 'CA'), ('SeaTac', 'WA'), ('Seattle', 'WA'), ('Sonoma', 'CA'), ('St. Paul', 'MN'), ('Sunnyvale', 'CA'), ('Tacoma', 'WA'), ('Wapello County', 'IA'), ('Washington', 'DC')]

In [ ]:
# some of the counties in the data are kind of weird.
COUNTY_CODES = {
  ('Flagstaff', 'AZ'): '04005',  # Coconino County
  ('Alameda', 'CA'): '06001',  # Alameda County
  ('Belmont', 'CA'): '06081',  # San Mateo County
  ('Berkeley', 'CA'): '06001',  # Alameda County
  ('Cupertino', 'CA'): '06085',  # Santa Clara County
  ('East Palo Alto', 'CA'): '06081',  # San Mateo County
  ('El Cerrito', 'CA'): '06013',  # Contra Costa County
  ('Emeryville', 'CA'): '06001',  # Alameda County
  ('Fremont', 'CA'): '06001',  # Alameda County
  ('Hayward', 'CA'): '06001',  # Alameda County
  ('Los Altos', 'CA'): '06085',  # Santa Clara County
  ('Los Angeles', 'CA'): '06037',  # Los Angeles County
  ('Los Angeles County', 'CA'): '06037',
  ('Malibu', 'CA'): '06037',  # Los Angeles County
  ('Milpitas', 'CA'): '06085',  # Santa Clara County
  ('Mountain View', 'CA'): '06085',  # Santa Clara County
  ('Novato', 'CA'): '06041',  # Marin County
  ('Oakland', 'CA'): '06001',  # Alameda County
  ('Palo Alto', 'CA'): '06085',  # Santa Clara County
  ('Pasadena', 'CA'): '06037',  # Los Angeles County
  ('Petaluma', 'CA'): '06097',  # Sonoma County
  ('Redwood City', 'CA'): '06081',  # San Mateo County
  ('Richmond', 'CA'): '06013',  # Contra Costa County
  ('San Diego', 'CA'): '06073',  # San Diego County
  ('San Francisco', 'CA'): '06075',  # San Francisco County (city-county)
  ('San Jose', 'CA'): '06085',  # Santa Clara County
  ('San Leandro', 'CA'): '06001',  # Alameda County
  ('San Mateo', 'CA'): '06081',  # San Mateo County
  ('Santa Clara', 'CA'): '06085',  # Santa Clara County
  ('Santa Monica', 'CA'): '06037',  # Los Angeles County
  ('Santa Rosa', 'CA'): '06097',  # Sonoma County
  ('Sonoma', 'CA'): '06097',  # Sonoma County
  ('Sunnyvale', 'CA'): '06085',  # Santa Clara County
  ('Denver', 'CO'): '08031',  # Denver County (city-county)
  ('Washington', 'DC'): '11001',  # District of Columbia
  ('Chicago', 'IL'): '17031',  # Cook County
  ('Cook County', 'IL'): '17031',
  ('Johnson County', 'IA'): '19103',
  ('Linn County', 'IA'): '19113',
  ('Wapello County', 'IA'): '19179',
  ('Lexington', 'KY'): '21067',  # Fayette County
  ('Louisville', 'KY'): '21111',  # Jefferson County
  ('Montgomery County', 'MD'): '24031',
  ("Prince George's County", 'MD'): '24033',
  ('Portland', 'ME'): '23005',  # Cumberland County
  ('Minneapolis', 'MN'): '27053',  # Hennepin County
  ('St. Paul', 'MN'): '27123',  # Ramsey County
  ('Albuquerque', 'NM'): '35001',  # Bernalillo County
  ('Bernalillo County', 'NM'): '35001',
  ('Las Cruces', 'NM'): '35013',  # Do√±a Ana County
  ('Santa Fe', 'NM'): '35049',  # Santa Fe County
  ('Santa Fe County', 'NM'): '35049',
  ('Long Island & Westchester', 'NY'): None,
  ('New York City', 'NY'): '36061',  # New York County (Manhattan)
  ('Remainder of New York State', 'NY'): None,
  ('Nonurban counties', 'OR'): None,
  ('Remainder of Oregon', 'OR'): None,
  ('SeaTac', 'WA'): '53033',  # King County
  ('Seattle', 'WA'): '53033',  # King County
  ('Tacoma', 'WA'): '53053',  # Pierce County
}

print(len(COUNTY_CODES), len(mwCities['City/County'].unique()))

60 60

In [8]:
mwCities = mwCities.assign(
    County_FIPS_Code=[
      COUNTY_CODES.get((city, state)) 
      for city, state 
      in zip(mwCities['City/County'], mwCities['State_Abbreviation'])]
)

In [9]:
mwStates.to_csv("mw_state_annual.csv")
mwCities.to_csv("mw_substate_annual.csv")